a{
    color: gray;
    font-weight: 400;
    display: inline;
    border-radius: 5px;
    padding: 2px 10px 2px 2px;
}

a.red{
    color: red;
}

a.green{
    color: green;
}

lightning-input{
    display: inline-block;
    max-width: 50%;
    font-size: 12px;
}